:root {
  --primary-color: #110053;
  --secondary-color: #66626b;
  --white-color: #fff;
  --black-color: #000;
}
* {
  margin: 0;
  padding: 0;
}

.custom-card {
  height: 35rem !important;
  background-color: rgba(176, 139, 241, 0.1) !important;
  border: none !important;
  border-radius: 15px !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
}
.custom-card input {
  border: solid 1px var(--secondary-color);
}
.custom-card input::placeholder {
  color: var(--secondary-color); /* Placeholder color */
  font-size: 12px;
}
.btn {
  background-color: var(--primary-color) !important;
  color: white !important;
}
.btn:hover {
  background-color: var(--secondary-color) !important;
}
.form-group {
  margin-bottom: 1rem !important;
}
h4 {
  color: var(--primary-color) !important;
  font-weight: 700 !important;
}

h5 {
  color: var(--primary-color) !important;
}

.mform {
  width: 80%;
}
.form-control::placeholder {
  color: var(--secondary-color) !important;
}
