<<<<<<< Updated upstream
:root {
=======
/* Root variables for color scheme */
/* :root {
>>>>>>> Stashed changes
  --primary-color: #884dee;
  --secondary-color: #b08bf1;
  --white-color: #fff;
  --black-color: #000;
}

/* General styling */
h3 {
  color: var(--primary-color);
}

.table thead th {
  background-color: var(--secondary-color) !important;
  color: white;
}

.active {
  background-color: var(--secondary-color) !important;
  border-left: 3px solid white;
}

.aicon,
.active span {
  color: rgb(255, 204, 0) !important;
}

/* Container styling */
.container2 {
  width: 100%;
  min-height: 100vh;
  padding: 5px;
}

/* To-Do list styling */
.todo-list {
  width: 100%;
  max-width: 540px;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin: 10px auto 20px;
  padding: 50px, 30px, 70px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}

.todo-list h2 {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px !important;
  margin: auto;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #d3d4d5;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 25px;
  margin: auto;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  height: 40px;
}

.add-task {
  width: 50%;
}

#add_button {
  width: 30%;
}
#add_button:hover {
  background-color: var(--secondary-color);
}

button {
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  background: var(--primary-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

/* Specific styling for task list items */
.task-content {
  display: flex;
  align-items: center;
}

.task_checkbox {
  margin-right: 10px; /* Add space between checkbox and task name */
}

.task_list li {
  position: relative;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.task_list li span {
  flex: 1;
}

.delete_button {
  margin-left: 15px;
  cursor: pointer;
  margin-right: 50px;
  width: 30px;
}
.delete_button:hover {
  background-color: red;
}

/* Styles for completed tasks */
.completed {
  text-decoration: line-through;
  color: red;
}

/* Styles for the cross icon */
.task_list li span {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

.task_list li span:hover {
  background: var(--secondary-color);
}
