h3 {
  color: var(--primary-color);
}

.table thead th {
  background-color: var(--secondary-color) !important;
  color: white;
}

.active {
  background-color: var(--secondary-color) !important;
  border-left: 3px solid white;
}

.aicon,
.active span {
  color: rgb(255, 204, 0) !important;
}

/* Container styling */
.container2 {
  width: 100%;
  min-height: 100vh;
  padding: 5px;
}

/* To-Do list styling */
.todo-list {
  width: 100%;
  max-width: 540px;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin: 10px auto 20px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}

.todo-list h2 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px !important;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 25px;
  margin: auto;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  height: 40px;
}

.add-task {
  width: 100%;
}

#add_button {
  width: 30%;
  background-color: var(--primary-color);
}
#add_button:hover {
  background-color: var(--secondary-color);
}

button {
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  background: var(--primary-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

/* Task list styling */
.task_list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: auto;
}

.task_list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;

  width: 80%;
}

/* Updated Task Checkbox Styling */
.task_checkbox {
  width: px; /* Set the desired width */
  height: 50px; /* Set the desired height */
  margin-right: 20px; /* Adjust this value to increase or decrease the gap */
  transform: scale(0.7); /* Reset any previous scaling */
  -webkit-appearance: none; /* Remove default checkbox styling for WebKit browsers */
  -moz-appearance: none; /* Remove default checkbox styling for Mozilla browsers */
  appearance: none; /* Remove default checkbox styling */
  background-color: #fff; /* Background color */
  border: 1px solid #ddd; /* Border styling */
  border-radius: 3px; /* Optional: set border-radius to make it look a bit nicer */
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.task_checkbox:checked {
  background-color: var(--primary-color); /* Background color when checked */
  border-color: var(--primary-color); /* Border color when checked */
  position: relative;
}

.task_checkbox:checked::after {
  content: "\2713"; /* Unicode character for the checkmark */
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task_text {
  flex: 1; /* Allow it to grow and fill the available space */
  margin-right: 15px; /* Space between task name and delete button */
}

.delete_button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-color);
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.delete_button:hover {
  background-color: red;
}

/* Styles for completed tasks */
.completed {
  text-decoration: line-through;
  color: red;
}

@media (max-width: 576px) {
  .todo-list {
    padding: 15px;
  }
  .row {
    flex-direction: column;
    align-items: stretch;
  }
  .add-task,
  #add_button {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* finished*/