/* :root {
  --primary-color: #884dee;
  --secondary-color: #b08bf1;
  --white-color: #fff;
  --black-color: #000;
} */
.chart {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.active {
  background-color: rgb(176, 139, 241) !important;
  border-left: solid 3px white;
}
.active2 {
  background-color: var(--primary-color) !important;
  border-bottom: solid 2px white;
}
.active2 a,
.active span,
.aicon {
  color: rgb(255, 204, 0) !important;
}

.title h3 {
  color: var(--primary-color);
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 300px !important;
  margin: auto;
}

.form-control {
  width: 100% !important;
  margin-top: 1.5rem;
}
.form-group > select {
  width: 100% !important;
  height: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;

  padding: 5px;
}
.form-group > input {
  width: 100% !important;
  height: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;

  padding: 5px;
}
.btn {
  background-color: var(--primary-color) !important;
  border: none !important;
  margin-top: 1.5rem;

  height: 40px !important;
}
.btn:hover {
  background-color: var(--secondary-color) !important;
}
